{{define "show"}}
<page gravity="top">
    <theme background="#efebe9" text="#3e2723" primary="#a1887f" />
    <image src="https://molana.zibaei.net/resources/header.png?ver=6" />
    <text>
        <small>{{if eq .type 1}} غزل {{else}} رباعی {{end}} شماره {{.number | to_persian_number}} : </small>
        <br/>
        <br/> {{.content | as_html }}
    </text>
    <divider style="empty" />
    <image src="https://molana.zibaei.net/resources/separator.png?ver=5" />
    <divider style="empty" /> {{if gt .number 2}}
    <dualbuttons>
        <button action="/show/{{get_type .type}}/{{add .number 1}}/">بعدی</button>
        <button action="/show/{{get_type .type}}/{{add .number -1}}/">قبلی</button>
    </dualbuttons>
    {{else}}
    <button action="/show/{{get_type .type}}/{{add .number 1}}/">بعدی</button>
    {{end}}
    <divider style="empty" />
    <footer action="/" validate="false" clearFields="true">
        بازگشت به صفحه اول
    </footer>
</page>
{{end}}